cdk/Lektion_06/lgc/dist
cdk/Lektion_07/lgc/dist
cdk/go-docker-deploy/lgc/dist
cdk/lgc/dist
pythonsls/Lektion_06/k96/.vscode
pythonsls/Lektion_08/k96-code/bin
pythonsls/Lektion_09/k96-code/bin
pythonsls/Lektion_10/k96-code/bin
